.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        background-color: var(--ColorThree);
        width: 80vw;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card-list {
            width: 80%;
            display: flex;
            justify-content: stretch;
            align-items: center;

            .card {
                cursor: pointer;
                border-radius: 8px;
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                // flex-direction: column !important;
                flex-wrap: wrap;
                background-color: var(--ColorFive);
                height: 120px;
                width: 320px;
                }
            
        }
    }
}



.line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}